<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bahasa Kita - Suara Kita, Bahasa Kita</title>
	<link rel="shortcut icon" href="images/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Suara Kita, Bahasa Kita. bahasa kita is a suite of voice APIs that powers commerce for online businesses of all sizes, including fraud prevention, and subscription management. Use bahasa kita’s voice platform to accept and process voices online for easy-to-use commerce solutions" />
	<meta name="keywords" content="suara, wicara, kecerdasan buatan, text to voice, voice to text, tulisan ke suara, suraa ke tulisan" />
	<meta name="author" content="bahasa" />


  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="stylesheets/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="stylesheets/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="stylesheets/simple-line-icons.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="stylesheets/magnific-popup.css">
	<!-- Bootstrap  -->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <!-- Style-->
    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- Template -->
    <link rel="stylesheet" type="text/css"  href="templates/default/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="templates/default/assets/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="templates/default/assets/css/nivo-lightbox.css" >
    <link rel="stylesheet" href="templates/default/assets/css/nivo_lightbox_themes/default/default.css">
    <link href="templates/default/assets/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="templates/default/assets/css/owl.theme.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css"  href="templates/default/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="templates/default/assets/css/responsive.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="templates/default/assets/templates/default/assets/js/modernizr.custom.js"></script>

	<!-- Styleswitcher ( This style is for demo purposes only, you may delete this anytime. ) -->
	<link rel="stylesheet" id="theme-switch" href="css/style.css">
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>